:root {
  --bg-color: #ffffff;
  --text-color: #0d1117;
}

body[data-theme='dark'] {
  --bg-color: #0d1117;
  --text-color: #c9d1d9;
}

body {
  margin: 0;
  background-color: #0d1117;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
